# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.db
*.opendb
*.db-shm
*.db-wal
*.ipch
MrSkeleton/.vs/MrSkeleton/v16/.suo
Skeleton_Party/.vs/Processing_Sample/v16/.suo
Skeleton_Party/.vs/Processing_Sample/v16/.suo
Skeleton_Party/.vs/Processing_Sample/v16/.suo
Skeleton_Party/.vs/Processing_Sample/v16/.suo
Skeleton_Party/.vs/Processing_Sample/v16/.suo
*.tlog
Skeleton_Party/x64/Debug/Processi.14B654ED.tlog/Processing_Sample.lastbuildstate
Skeleton_Party/x64/Debug/Processing_Sample.log
Skeleton_Party/x64/Debug/Processing_Sample.exe.recipe
